<span class="alert alert-warning" role="alert" ng-show="vm.warning">{{vm.message}}</span>
<h1>{{vm.title}}</h1>
<form novalidate id="formClient" name="vm.formClient" ng-submit="vm.persist()">
  <div class="form-group">
    <input type="hidden" ng-model="vm.client.id" />
    <span>name</span>
    <input class="form-control" type="text" ng-model="vm.client.name" ng-change="vm.isValid()" required/>
  </div>

  <div class="form-group">
    <span>balance</span>
    <input type="number" class="form-control" ng-model="vm.client.balance" ng-change="vm.isValid()" required/>
  </div>

  <input type="hidden" class="form-control" ng-model="vm.client.login.id" />

  <div class="form-group">
    <span>account</span>
    <input class="form-control" type="text" ng-model="vm.client.login.account" ng-change="vm.isValid()" ng-disabled="vm.enableAccount" required/>
  </div>


  <div class="form-group">
  <span>password</span>
  <input class="form-control" type="password" ng-model="vm.client.login.password" ng-blur="vm.confPassword()" ng-change="vm.isValid()" required/>
  <span>confirm password</span>
  <input class="form-control" type="password" ng-model="vm.passwordConfirm" ng-blur="vm.confPassword()" ng-change="vm.isValid()" required/>
</div>

  <div class="form-group">
  <button class="btn btn-primary" type="submit" ng-disabled="vm.disableButton">Salvar</button>
  <button class="btn btn-secundary" type="submit" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>account</th>
        <th>balance</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody ng-repeat="client in vm.clients">
      <tr>
        <td>{{client.name}}</td>
        <td>{{client.login.account}}</td>
        <td>{{client.balance}}</td>
        <td>
          <button class="btn btn-primary" ng-click="vm.edit(client)">Edit</button>
        </td>
        <td>
          <button class="btn btn-primary" ng-click="vm.delete(client.id)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>